In [2]:
import pandas as pd
import numpy as np 
from preprocess import Preprocessor

In [3]:
host_df = pd.read_csv('data/titanic_host.csv')
guest_df = pd.read_csv('data/titanic_guest.csv')

host_df = Preprocessor().fit_transform(host_df)
guest_df = Preprocessor().fit_transform(guest_df)

In [8]:
host_df.head()

   PassengerId  Sex  SibSp  Parch     Fare  Cabin  Embarked
0            1    1      1      0   7.2500      7         2
1            2    0      1      0  71.2833      2         0
2            3    0      0      0   7.9250      7         2
3            4    0      1      0  53.1000      2         2
4            5    1      0      0   8.0500      7         2

In [9]:
n_cols = len(host_df.columns)
host_df.columns = ['id'] + ['x' + str(i) for i in range(n_cols - 1)]
host_df.columns

Index(['id', 'x0', 'x1', 'x2', 'x3', 'x4', 'x5'], dtype='object')

In [10]:
host_df.head()

   id  x0  x1  x2       x3  x4  x5
0   1   1   1   0   7.2500   7   2
1   2   0   1   0  71.2833   2   0
2   3   0   0   0   7.9250   7   2
3   4   0   1   0  53.1000   2   2
4   5   1   0   0   8.0500   7   2

In [11]:
n_cols = len(guest_df.columns)
n_colname = ['id'] + ['y'] + ['x' + str(i) for i in range(n_cols - 2)]
guest_df.columns = n_colname
guest_df.columns

Index(['id', 'y', 'x0', 'x1'], dtype='object')

In [12]:
guest_df.head()

   id  y   x0    x1
0   1  0  3.0  22.0
1   2  1  3.0  38.0
2   3  1  3.0  26.0
3   4  1  1.0  35.0
4   5  0  3.0  35.0

In [15]:
num_data = host_df.shape[0]
train_ratio = 0.2
train_host_df = host_df[int(np.ceil(num_data * train_ratio)):]
validate_host_df = host_df[:int(np.ceil(num_data * train_ratio))]
train_guest_df = guest_df[int(np.ceil(num_data * train_ratio)):]
validate_guest_df = guest_df[:int(np.ceil(num_data * train_ratio))]

In [16]:
train_host_df.to_csv('data/preprocessed_titanic_train_host.csv', index=False)
validate_host_df.to_csv('data/preprocessed_titanic_validate_host.csv', index=False)
train_guest_df.to_csv('data/preprocessed_titanic_train_guest.csv', index=False)
validate_guest_df.to_csv('data/preprocessed_titanic_validate_guest.csv', index=False)